@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400..500&family=Manrope:wght@400..700&display=swap');

.text-headline,
.text-body,
.text-caption,
.text-subhead {
  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-hero,
.text-h1 {
  font-family: 'Comfortaa', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
