@import 'tailwindcss';
@import './theme.css';

@layer components {
  .text-headline {
    @apply font-bold text-2xl/[120%];
  }
  .text-body {
    @apply font-medium text-base/[140%];
  }
  .text-caption {
    @apply font-medium text-sm/[120%];
  }
  .text-subhead {
    @apply font-semibold text-[20px]/[120%];
  }
  .text-caption {
    @apply font-medium text-sm/[120%];
  }
  .text-hero {
    @apply font-medium text-6xl/[120%];
  }
  .text-h1 {
    @apply font-normal text-[32px]/[120%];
  }
}

html {
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;

  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100dvh;
  width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  overscroll-behavior-y: contain;
  background: var(--base-color-base-01);
  color: var(--text-color);
}

#root {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

svg *[color] {
  fill: currentColor;
  stroke: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

svg {
  object-fit: cover;
  object-position: center;
}

.p-body ul {
  padding: 0;
  padding-bottom: 12px;
}
.p-body li {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0;
}
